RewriteEngine On
RewriteRule ^tos info.php?act=rules [L,NC]
RewriteRule ^privacy info.php?act=privacy_policy [L,NC]
RewriteRule ^mysettings users.php?act=settings [L,NC]
RewriteRule ^logout users.php?act=logout [L,NC]
RewriteRule ^news news.php [L,NC]
RewriteRule ^contact contact3.php?act=contact_us [L,NC]
RewriteRule ^dmca contact.php?act=file_report [L,NC]
RewriteRule ^faq faq.php [L,NC]
RewriteRule ^stats stats3.php [L,NC]
RewriteRule ^affiliate earn.php [L,NC]
RewriteRule ^sign_up users.php?act=register [L,NC]
RewriteRule ^remote index.php?url=1 [L,NC]
RewriteRule ^flash flash.php [L,NC]
RewriteRule ^tools tools.php [L,NC]
RewriteRule ^payments payments3.php [L,NC]
RewriteRule ^login login.php [L,NC]
RewriteRule ^mygallery users.php?act=gallery [L,NC]
RewriteRule ^cronjob cronjob.php [L,NC]

RewriteRule ^robots index.php [L,NC]
RewriteRule ^robots.txt index.php [L,NC]
